<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="UTF-8">
    <title>Sotheby's Viking Control</title>
    <link rel="stylesheet" type="text/css" href="../static/app.css">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
    <script type="text/javascript" src="../static/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/app.js"></script>
    <script type="text/javascript">const popout = true</script>
    </head>

    <body class="popout">
        <div id="links" class="">
            <div class="d-flex gap-2 mb-2">
                <button type="button" id="link-stop" class="btn btn-danger">Clear</button>
                <button type="button" id="window-reset" class="btn btn-primary">Reset Window Size</button>
                <span class="input-group w-25">
                    <input class="form-control" type="file" id="formFile">
                    <button type="button" id="import" class="btn btn-primary">Import</button>
                </span>
                <button type="button" id="export" class="btn btn-primary">Export</button>
				<button type="button" id="hide" class="btn btn-primary">Toggle Render Mode</button>
                <button type="button" id="sponsorNow" class="btn btn-primary">Sponsor Now</button>
				<button type="button" id="popout" class="btn btn-primary d-none">Popout</button>
                <div><span id="sponsorTime"></span> until sponsor logo</div>
                <button type="button" id="window-exit" class="btn btn-danger ms-auto">Exit</button>
            </div>

            <div class="d-flex flex-nowrap input-group mb-2">
                <button type="button" id="link1-but" class="btn btn-success">Push</button>
                <input type="text" class="form-control" id="link1-lable" placeholder="Description">
                <input type="text" class="linkInput form-control" id="link1" placeholder="Link 1">
            </div>

            <div class="d-flex flex-nowrap input-group mb-2">
                <button type="button" id="link2-but" class="btn btn-success">Push</button>
                <input type="text" class="form-control" id="link2-lable" placeholder="Description">
                <input type="text" class="linkInput form-control" id="link2" placeholder="Link 2">
            </div>

            <div class="d-flex flex-nowrap input-group mb-2">
                <button type="button" id="link3-but" class="btn btn-success">Push</button>
                <input type="text" class="form-control" id="link3-lable" placeholder="Description">
                <input type="text" class="linkInput form-control" id="link3" placeholder="Link 3">
            </div>

            <div class="d-flex flex-nowrap input-group mb-2">
                <button type="button" id="link4-but" class="btn btn-success">Push</button>
                <input type="text" class="form-control" id="link4-lable" placeholder="Description">
                <input type="text" class="linkInput form-control" id="link4" placeholder="Link 4">
            </div>

            <div class="d-flex flex-nowrap input-group mb-2">
                <button type="button" id="link5-but" class="btn btn-success">Push</button>
                <input type="text" class="form-control" id="link5-lable" placeholder="Description">
                <input type="text" class="linkInput form-control" id="link5" placeholder="Link 5">
            </div>

            <div class="d-flex flex-nowrap input-group mb-2">
                <button type="button" id="link6-but" class="btn btn-success">Push</button>
                <input type="text" class="form-control" id="link6-lable" placeholder="Description">
                <input type="text" class="linkInput form-control" id="link6" placeholder="Link 6">
            </div>

            <div class="d-flex flex-nowrap input-group mb-2">
                <button type="button" id="link7-but" class="btn btn-success">Push</button>
                <input type="text" class="form-control" id="link7-lable" placeholder="Description">
                <input type="text" class="linkInput form-control" id="link7" placeholder="Link 7">
            </div>

            <div class="d-flex flex-nowrap input-group mb-2">
                <button type="button" id="link8-but" class="btn btn-success">Push</button>
                <input type="text" class="form-control" id="link8-lable" placeholder="Description">
                <input type="text" class="linkInput form-control" id="link8" placeholder="Link 8">
            </div>
        </div>
    </body>
</html>
